{% extends 'base.html' %}

{% block title %}Active Auction List{% endblock %}
{% block inpage_title %}Active Auction List{% endblock %}

{% block content %}
    <a href="{% url 'auction_create' %}" class="btn btn-primary mb-2">Create Auction</a>
    <div>
        {% for auction in auction_list %}
            <a class="card text-decoration-none mb-2 auction" href="{% url 'bid_create' auction.pk %}">
                <div class="btn">
                    <p>{{ auction.name }}</p>
                    <p>${{ auction.current_price }}</p>
                    <p>Ends on: {{ auction.end_time }}</p>
                    <p>
                        {% if auction.is_active %}Active{% else %}Inactive{% endif %}
                    </p>
                </div>
            </a>
        {% empty %}
            <p>No auctions yet.</p>
        {% endfor %}
    </div>
{% endblock %}